
<%= will_paginate @orgs %>
<table id="indivs_table">
  <tr>
    <th><%= sortable "orgname", "Organization" %></th>
    <th><%= sortable "org_bucket_1_rank", "Hypo Rank"%></th>
    <th><%= sortable  "org_bucket_2_rank", "Ortho Rank"%></th>
    <th><%= sortable  "org_bucket_3_rank", "Liver  Rank"%></th>
    <th><%= sortable  "org_bucket_4_rank", "Cancer Rank"%></th>
  
   
  </tr>

<% @orgs.each do |org| %>
  <tr class="<%= cycle('even','odd') %>">

    <td><%= link_to "#{org.orgname}", org_path(org) %></td>
    <td><%= org.org_bucket_1_rank %></td>
    <td><%= org.org_bucket_2_rank %></td>
    <td><%= org.org_bucket_3_rank %></td>
    <td><%= org.org_bucket_4_rank %></td>
   
  
	
	
  </tr>
<% end %>
</table>


