<%= form_for(@indiv) do |f| %>
  <% if @indiv.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@indiv.errors.count, "error") %> prohibited this indiv from being saved:</h2>

      <ul>
      <% @indiv.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="field">
    <%= f.label :first %><br />
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label :last %><br />
    <%= f.text_field :last %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br />
    <%= f.text_field :address1 %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>

  <div class="field">
    <%= f.label :specialty %><br />
    <%= f.text_field :specialty %>
  </div>
  
  <div class="field">
    <%= f.label :pract_type %><br />
    <%= f.text_field :pract_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
