<p id="notice"><%= notice %></p>



<div id = "indiv_details">


<!-- affiliation info -->
	<div class="right">
		<p>
	    	<%= link_to 'Go Back >>' , indivs_path, :class => "red" %>
	     </p>
	     <br/>
		<b class ="red"> Affiliated Organizations: </b>
	
		<% @orgs.each do |org| %>
		
		<p>
		<%= link_to org.orgname, org_path(org)  %>
		</p>
		<% end %>
	</div>


<!-- practitioner info -->
	  <h2 class="title">Practitioner Information </h2>
	
		<p>
		  <b class="red">First Name:</b>
		  <%= @indiv.first %>
		</p>
		
		<p>
		  <b class="red">Last Name:</b>
		  <%= @indiv.last %>
	  
	  </p>
	
	
	
		<p>
		  <b class="red">Address:</b>
		  <%= @indiv.address1 %>
		</p>
	
		
	  <b class="red">Address2:</b>
	  		<%= @indiv.address2 %>
		</p>
	
		<p>
		  <b class="red">City:</b>
		  <%= @indiv.city %>
		</p>
	
		<p>
		  <b class="red">State:</b>
		  <%= @indiv.state %>
		</p>
	
		<p>
		  <b class="red">Zipcode:</b>
		  <%= @indiv.zip %>
		</p>
	
		<p>
		  <b class="red">Phone:</b>
		  <%= @indiv.phone %>
		</p>
	
		<p>
		  <b class="red">Specialty:</b>
		  <%= @indiv.specialty %>
		</p>
	

<!-- Ranking Info -->
	<table width="25%" id="buckets_table">
		<tr>
			<th>Hypo Rank </th>
			<th>Ortho Rank</th>
			<th>Liver Rank </th>
			<th>Cancer Rank </th>
			
		</tr>
		<tr>
			<td> <%= @indiv.bucket_1_rank %> </td>
			<td> <%= @indiv.bucket_2_rank %> </td>
			<td> <%= @indiv.bucket_3_rank %> </td>
			<td> <%= @indiv.bucket_4_rank %> </td>
			
		<tr>
			
			
		</tr>
			
	</table>
	
	

</div>


