<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>inatable</title>

<%= stylesheet_link_tag :all %>
<%= javascript_include_tag :all %>
<%= csrf_meta_tag %>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="/css/ie6.css" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen" /><![endif]-->
</head>

<body>


<!-- Begin Container -->
<div class="container_12">
	<div class="grid_12">

		<h1 id="branding">
			<%= image_tag('inatable_logo.png') %> 
		</h1>
</div>



<!--begin main -->
<div id="main">
	

		
	<!-- main content -->
	<div class="grid_6">
		<div id="content">
			
			<p class= "notice"> <%= notice %> </p>
			<p class="alert"> <%= alert %>  </p>
		
			<%= yield %>
		</div>
	</div>
		
	<!-- sidebar -->
		<div class="grid_4">
			<div id="sidebar">
			
			
				<h2 class="beige" > inatable helps you develop web and mobile applications powered by your data and the team that uses it. </h2>
			
				<p>This is a demo application, used for testing and improving ideas to make relational data flow smoothly from organizations -> to web -> to mobile. </p>
			
			</div>
		</div>
	


</div>




<div class="clear"></div>





<!-- begin footer -->
<div class="grid_12" id="site_info">
	
	
<div class="box">
	<p>Copyright 2011 implied labs </p>

</div>
</div>
<div class="clear"></div>
</div>
<%= yield :scripts %>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.5.custom.js"></script>
<script type="text/javascript" src="js/jquery-fluid16.js"></script>
</body>
</html>